.blgl-container{
    padding: 40px 40px;
    margin: 0px;
    height: calc(100% - 168px);
    min-height: 806px;
    overflow: hidden;
  .search-row-btn-group{
    padding: 0px;
    .btn-default{
      border: solid 1px #20a0ff;
      height: 70px;
      border-radius: 8px;
      span{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 23.8px;
        letter-spacing: 0px;
        color: #20a0ff;
      }
    }
    .btn-deault-size{
        width: 200px;
    }
    .btn-color-blue{
        background-color: #20a0ff;
        span{
            color: #ffffff
        }
    }
  }
  .search-row{
    width: 100%;
    height: 72px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .search-input-item{
        input.el-input__inner{
            height: 70px;
            border-radius: 8px;
            border: solid 1px #c0ccda;
            background-color: #ffffff;
            font-family: PingFangSC-Medium;
            font-size: 34px;
            line-height: 34px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #1f2d3d;
        }
    }
    .rq-input{
      width: 510px;
      height: 70px;
      border-radius: 8px;
      border: 1px solid #c0ccda;
      margin-right: 40px;
      i{
        font-size: 25px;
      }
      input{
        width: 45%;
        font-family: PingFangSC-Regular;
        font-size: 34px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #1f2d3d;
      }
      span.el-range-separator{
        font-size: 30px;
        line-height: 70px;
        width: 6%;
      }
    }

  }
  .foot-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    .page-container{
      text-align: center;
      width: 768px;
      margin-top: 0px;
        .el-pager li{
          width: 48px;
          height: 47px;
          line-height: 47px;
          border: solid 1px #d3dce6;
          margin: 0px;
        }
        .el-pagination button{
          width: 48px;
          height: 47px;
        }
        span.el-pagination__total{
            font-family: HelveticaNeue;
            font-size: 22px;
            height: 47px;
            line-height: 47px;
            font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #475669;
        }
        span.el-pagination__jump{
          font-family: HelveticaNeue;
          font-size: 22px;
            height: 47px;
            line-height: 47px;
            font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #475669;
            input {
              font-family: HelveticaNeue;
              font-size: 22px;
              font-weight: normal;
              font-stretch: normal;
              letter-spacing: 0px;
              color: #475669;
            }
        }
    }
  }
  .btn-font-default{
    font-family: PingFangSC-Regular;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 34px;
    letter-spacing: 0px;
    color: #20a0ff;
  }
  .bnt-font-color{
      color: #ff4949;
  }

  .table-continer{
      max-height: calc(100% - 192px);
      overflow:  auto;
      .el-table__header-wrapper{
        background: #e5e9f2;
      }
      .el-table__body-wrapper{
        max-height: calc(100% - 76px);
        overflow-x: hidden;
        overflow-y:auto;
      }
      .el-checkbox__inner{
        width: 25px;
        height: 25px;
    }
    .el-checkbox__inner::after{
        height: 14px;
        left: 9px;
        top: 3px;
    }
  }
  .el-table .headerClassname,rowClassname {
    background: #f0f9eb;
    height: 76px;
  }
  .el-table .headerClassname th{
    background-color: #e5e9f2;

  }
  .el-table .headerClassname th>.cell{
      font-family: PingFangSC-Medium;
      font-size: 32px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #475669;
      line-height: 32px;
  }
  .el-table .rowClassname .cell{
    font-family: PingFangSC-Regular;
    font-size: 34px;
    line-height: 34px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #1f2d3d;
  }
}
