.grblgl-container{
    padding: 40px 30px 20px 30px;
    padding-top: 40px;
    margin: 0px;
    .search-row{
    width: 100%;
    height: 72px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    .search-row-input-item{
      width: 1584px;
      margin: 0 auto;
      input.el-input__inner{
        font-family: PingFangSC-Regular;
        font-size: 34px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: 0px;
        color: #1f2d3d;
        line-height: 70px;
        height: 70px;
        border-radius: 8px;
      }
      i.el-icon-search{
        font-size: 27px;
      }
    }
  }
  .btn-font-default{
    font-family: PingFangSC-Regular;
      font-size: 34px;
      font-weight: normal;
      font-stretch: normal;
      line-height: 34px;
      letter-spacing: 0px;
      color: #20a0ff;
  }
  .bnt-font-color{
    color: #ff4949;
  }
  .foot-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-row-btn-group{
    padding-left: 50px;
    width: 418px;
    .btn-blue{
      width: 200px;
      height: 70px;
      background-color: #20a0ff;
      border-radius: 8px;
      border: 0px;
      span{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 23.8px;
        letter-spacing: 0px;
        color: #ffffff;
      }
  
    }
    .btn-default{
      width: 200px;
      height: 70px;
      border: solid 1px #20a0ff;
      height: 70px;
      border-radius: 8px;
      span{
        font-family: PingFangSC-Regular;
        font-size: 30px;
        font-weight: normal;
        font-stretch: normal;
        line-height: 23.8px;  
        letter-spacing: 0px;
        color: #20a0ff;
      }
    }
  }
  .table-div-continer{
      display: flex;
      justify-content: center;
  }
  .table-continer{
      width: 968px;
      max-height: 620px;
      overflow:  auto;
      .el-table__header-wrapper{
        background: #e5e9f2;
      }
      .el-table__body-wrapper{
        max-height: 540px;
        overflow-y:auto;
      }
      .el-checkbox__inner{
          width: 25px;
          height: 25px;
      }
      .el-checkbox__inner::after{
          height: 14px;
          left: 9px;
          top: 3px;
      }
  }
  .el-table .headerClassname,rowClassname {
    background: #f0f9eb;
    height: 76px;
  }
  .el-table .headerClassname th{
    background-color: #e5e9f2;
  
  }
  .el-table .headerClassname th>.cell{
      font-family: PingFangSC-Medium;
      font-size: 32px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #475669;
      line-height: 32px;
  }
  .el-table .rowClassname .cell{
    font-family: PingFangSC-Regular;
      font-size: 34px;
    line-height: 34px;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0px;
      color: #1f2d3d;
  }
   .page-container{
     text-align: center;
     width: 768px;
     margin-top: 0px;
      .el-pager li{
        width: 48px;
          height: 47px;
        line-height: 47px;
        border: solid 1px #d3dce6;
        margin: 0px;
      }
      .el-pagination button{
        width: 48px;
        height: 47px;
      }
      span.el-pagination__total{
          font-family: HelveticaNeue;
           font-size: 22px;
           height: 47px;
           line-height: 47px;
           font-weight: normal;
           font-stretch: normal;
           letter-spacing: 0px;
           color: #475669;
      }
      span.el-pagination__jump{
        font-family: HelveticaNeue;
         font-size: 22px;
           height: 47px;
           line-height: 47px;
           font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #475669;
           input {
             font-family: HelveticaNeue;
             font-size: 22px;
             font-weight: normal;
            font-stretch: normal;
            letter-spacing: 0px;
            color: #475669;
           }
      }
   }
  }
  
  
  